<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Full board Go problems</title>
	<script type="text/javascript" src="wgo/serverAddress.js"></script>
	<script type="text/javascript" src="wgo/wgo.js"></script>
	<script type="text/javascript" src="wgo/kifu.js"></script>
	<script type="text/javascript" src="wgo/player.js"></script>
	<script type="text/javascript" src="wgo/basicplayer.js"></script>
	<script type="text/javascript" src="wgo/basicplayer.component.js"></script>
	<script type="text/javascript" src="wgo/basicplayer.control.js"></script>
	<script type="text/javascript" src="wgo/basicplayer.commentbox.js"></script>
	<script type="text/javascript" src="wgo/player.editable.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" media="(min-width:1000px)" href="css/wgo.player.css" />
	<link rel="stylesheet" type="text/css" media="(max-width:999px)" href="css/wgo.player.mobile.css" />
	<link rel="stylesheet" type="text/css" href="wgo/themes/wgo.player.dark.css" />
</head>

<body>
<div data-wgo="{{ problemId }}">Error loading the app</div>
</body>
</html>